

/* Navbar */
nav, footer {
    background-color: #bad4aa;
}

/* Keep footer at bottom */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: purple;

}

.inline-p {
    display: inline;
}

.fab {
    width: 20px;
    height: 20px;

}

main {
    flex: 1 0 auto;
}

.form-check {
    margin: 0;
}

footer {
    flex-shrink: 0; 
}

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

.card-text, .card-title {text-align: center;}
.card-container {
    font-size: x-large;
}
 

/* .image-container {
    height: 300px;
    object-fit: contain;
}

.card-img-top {
    height: 100%;
    width: auto;
    
} */

.image-container {
    height: 400px; /* Set a fixed height for the image container */
    /* display: flex; Use flexbox to align image vertically */
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
}

.card-img-top {
    height: 300px;
    max-width: 100%; /* Ensure the image does not exceed the container width */
    object-fit: contain; /* Maintain aspect ratio and fit the entire image within the container */
}

.card-body {
    border: 10px solid #bad4aa7c;
    height: 600px;
}

.card-body {
    
    overflow-x: auto; /* Enable scrolling */
}

.full-image {
    max-height: 500px;
    
}