

/* Navbar */
nav, footer {
    background-color: #bad4aa;
}

/* Keep footer at bottom */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: purple;

}

.inline-p {
    display: inline;
}

.fab {
    width: 20px;
    height: 20px;

}

main {
    flex: 1 0 auto;
}

.form-check {
    margin: 0;
}

footer {
    flex-shrink: 0; 
}