{% extends "base.html" %}

{%block content%}

{% load crispy_forms_tags %}

<div class="container">
    <form action="" method = "POST" enctype = "multipart/form-data" class="add-form">
        <h1 class= "text-center"> Edit Project</h1>
        {% csrf_token %}
        {{form.media}}
        {{ form|crispy  }}
        <div class="text-center">
            <button type = "submit" class = "btn btn-primary mt-2">
                Edit Project
            </button>
        </div>
    </form>
</div>

{% endblock %}